{% extends 'common/base.html' %}


{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<table id="example" class="table table-striped table-bordered" style="width:100%">

    <thead>
        <tr>
            <th colspan="4" style="text-align:right">
                <a href="{% url 'QMS:auditorlistform'  %}" class="btn btn-primary btn-sm ">Add</a>
            </th>
        </tr>
        <tr>
            <th>S.no</th>
            <th>Auditors</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        {% for typ in auditorlist %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ typ.auditors.emp_name }}</td>
            <td>
                <a href="{% url 'QMS:auditorlistupdate' typ.id %}" class="btn btn-warning btn-sm">Edit</a>

                <a href="{% url 'QMS:auditorlistdelete' typ.pk %}" onClick="audit()" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
<a href="{% url 'QMS:homepage' %}" class="btn btn-success">Home</a>

<script>

    function audit() {
        confirm("Press OK to close this option");
    }

</script>





{% endblock %}

