{% extends 'common/base.html' %}


{% block content %}

<table id="example" class="table table-striped table-bordered" style="width:100%">

    <thead>
        <tr>
            <th colspan="4" style="text-align:right">
                <a href="{% url 'QMS:audittypecreate'  %}" class="btn btn-primary btn-sm ">Add</a>
            </th>
        </tr>
        <tr>
            <th>S.no</th>
            <th>Audit Type</th>
            <th>Audit Code</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        {% for typ in listaudittype %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ typ.audittype }}</td>
            <td>{{ typ.auditcode }}</td>
            <td>
                <a href="{% url 'QMS:audittypeupdate' typ.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'QMS:audittypedelete' typ.id %}" class="btn btn-danger btn-sm">Delete</a>

            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>


<a class="btn btn-success" href="{% url 'QMS:homepage' %}"> <i class="fa fa-home"></i>Home</a>


<script>

    function audit() {
        confirm("Press OK to close this option");
    }

</script>


{% endblock %}

